{% extends 'base.html.twig' %}

{% block body %}
    <h1>erreur lors d'accée au service</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}

        {{ flashMessage }}

    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        désolé, mais vous n'êtes pas autorisé à accéder à ce service
    </p>

{% endblock %}