{% extends '::base.html.twig' %}

{% block body %}

    <h1>Désolé, vous n'êtes pas autorisé à acceder à ce service</h1>

    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

{% endblock %}