{% extends "::layoutAdmin.html.twig" %}

{% block body %}
    <div class="col-md-12 profile-contain">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <div class="static-widget-box">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                                <div class="widget-box widget-progress">
                                    <div class="widget-info bg-primary">
                                        <div class="widget-content">
                                            <div class="bg-icon">
                                                <i class="icon_house"></i>
                                            </div>
                                            <h4 class="text-secondary">Total Projects</h4>
                                            <h6 class="text-secondary">2451</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-60"></div>
                                            </div>
                                            <span>55% more then last year</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                                <div class="widget-box widget-progress">
                                    <div class="widget-info bg-warning">
                                        <div class="widget-content">
                                            <div class="bg-icon">
                                                <i class="icon_house"></i>
                                            </div>
                                            <h4 class="text-secondary">Total Projects</h4>
                                            <h6 class="text-secondary">1451</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-30"></div>
                                            </div>
                                            <span>35% more then last year</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                                <div class="widget-box widget-sm-margin widget-progress">
                                    <div class="widget-info bg-success">
                                        <div class="widget-content">
                                            <div class="text-xs-center">
                                                <h4 class="text-secondary">Total Projects</h4>
                                                <h6 class="text-secondary">451</h6>
                                            </div>
                                            <span class="float-xs-left m-b-5">Target</span>
                                            <div class="float-xs-left progress m-0">
                                                <div class="progress-bar progress-bar-15"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                                <div class="widget-box widget-progress">
                                    <div class="widget-info bg-danger">
                                        <div class="widget-content">
                                            <div class="float-xs-left bg-icon-left">
                                                <i class="icon_house"></i>
                                            </div>
                                            <div class="text-xs-right">
                                                <h4 class="text-secondary">Total Projects</h4>
                                                <h6 class="text-secondary">3451</h6>
                                            </div>
                                            <span class="float-xs-left m-b-5">Target</span>
                                            <div class="float-xs-left progress m-0">
                                                <div class="progress-bar progress-bar-60"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget-box widget-sm-margin">
                                        <div class="widet-info bg-light-primary">
                                            <div class="widget-content offer-widget">
                                                <div class="float-xs-right sale-offer-icon text-xs-center">
                                                    <i class="icon_pin"></i>
                                                    <p>14th Feb</p>
                                                </div>
                                                <div class="sale-offer-detail text-xs-center">
                                                    <h3 class="text-secondary">Now get 50% Off</h3>
                                                    <p>Limited period offer</p>
                                                    <button class="btn btn-secondary">Visit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="widget-box">
                                        <div class="widet-info bg-light-danger text-light-danger">
                                            <div class="widget-content">
                                                <div class="float-xs-right sale-offer-icon text-xs-center ">
                                                    <i class="icon_pin"></i>
                                                    <p>14th Feb</p>
                                                </div>
                                                <div class="sale-offer-detail text-xs-center">
                                                    <h3 class="text-light-danger">20% Off</h3>
                                                    <p>Limited period offer</p>
                                                    <button class="btn btn-secondary">
                                                        Visit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider15 top-menu-specing divider-sm-box"></div>
                                <div class="col-md-12 content-blockquote">
                                    <div class="curly-bracket-blockquote alert-success">
                                        <blockquote>
                                            <p class="text-xs-center">The European languages are members of
                                                the same
                                                family. Their separate existence is a myth. For science,
                                                music,
                                                sport, etc, Europe uses the same vocabulary. The languages
                                                only
                                                differ in their grammar, their pronunciation and their most
                                                common
                                                words. Everyone realizes why a new common language would be
                                                desirable: one could refuse to pay expensive translators.
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-lg-spacing"></div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="image-static-widget">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="widget-box">
                                            <div class="static-header bg-danger text-xs-center">
                                                <h5 class="text-secondary">Images</h5>
                                            </div>
                                            <div class="widget-content text-danger">
                                                <div class="static-detail-icon"><i class="fa fa-picture-o"></i>
                                                </div>
                                                <div class="text-xs-center"><h4 class="text-danger">
                                                        1,547</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="widget-box">
                                            <div class="static-header bg-primary text-xs-center">
                                                <h5 class="text-secondary">Like</h5>
                                            </div>
                                            <div class="widget-content text-primary">
                                                <div class="static-detail-icon"><i class="fa fa-thumbs-o-up"></i></div>
                                                <div class="text-xs-center"><h4 class="text-primary">
                                                        2,154</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="widget-box">
                                            <div class="static-header bg-warning text-xs-center">
                                                <h5 class="text-secondary">Contacts</h5>
                                            </div>
                                            <div class="widget-content text-warning">
                                                <div class="static-detail-icon"><i class="fa fa-address-book"></i></div>
                                                <div class="text-xs-center"><h4 class="text-warning">
                                                        3,548</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="widget-box">
                                            <div class="static-header bg-success text-xs-center">
                                                <h5 class="text-secondary">Songs</h5>
                                            </div>
                                            <div class="widget-content text-success">
                                                <div class="static-detail-icon"><i class="fa fa-music"></i>
                                                </div>
                                                <div class="text-xs-center"><h4 class="text-success">
                                                        1,547</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-menu-specing"></div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="divider15 divider-lg-spacing"></div>
                                    <div class="widget-primary alert-left-border-icon">
                                        <div class="widget-content alert alert-primary m-0" role="alert">
                                            <div class="alert-media-left">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </div>
                                            <div class="alert-media-right">
                                                <h4 class="alert-heading">Download!</h4>
                                                <p class="p-0">Europan separat existentie es un myth.
                                                    Por
                                                    scientie, musica, sport etc.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
           </div>
{% endblock %}



























