{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des Niveaux :</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Intitulé du Niveau</th>
            <th>Nom du Filière</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for niv in niveau %}
        <tbody>
        <tr>
            <td>{{ niv.NomNiveau }}</td>
            <td>{{ niv.NomNiveau }}</td>
            <td><a href="{{ path('supprimer_Niveau', { 'id': niv.id }) }}"><button class="btn btn-success">Modifier</button></a><a href="{{ path('supprimer_Niveau', { 'id': niv.id }) }}"><button class="btn btn-danger">Supprimer</button></a>
        </tr>
        {% else %}
            <p>Aucune Niveau n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


