{% extends '::base.html.twig' %}

{% block body %}

<div class="col-sm-11" style="background-color:lavender;">

    <form action="{{path('AddMatiere')}}" method="POST" id="MyForm">
        <br>
        <div class="form-group">
            <label for="usr">Nom de matiere:</label>
            <input type="text" class="form-control" id="usr" name="nomMatiere" required>
        </div>

        <div class="form-group">
            <label for="usr">Coefficient:</label>
            <input type="text" class="form-control" id="usr" name="coefficient" required>
        </div>
        <!-- parcour de la table module pour l'affichage des module present dans la table -->
        <div class="form-group">
            <label for="usr">Credit:</label>
            <input type="text" class="form-control" id="usr" name="credit" required>
        </div>
        <input type="submit" value="Enregistrer" type="button" class="btn btn-success">
    </form>
{% endblock %}