{# contact.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-12 profile-contain">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="content">
        <p>Votre message à été bien livré. Nous vous contactons dans les plus proches delais.</p>
                </div></div></div></div>

{% endblock %}