{% extends '::base.html.twig' %}

{% block body %}

<div>L'étudiant : {{ etudiant.nom }} est validé

    <p>
        <br><br>
        <a href="{{ path('Liste_preinscrits') }}">Revenir à la liste des préinscrits </a>
    </p>
</div>

{% endblock %}