/*
Generic Styling, for Desktops/Laptops
*/
.table-vertical {
    width: 100%;
    height:auto;
    border-collapse: collapse;
}
/* Zebra striping */
.table-vertical>tbody>tr:nth-of-type(odd) {
    background: #f9f9f9;
}
.table-vertical>thead>tr>th {
    background: #fff;
    color: #000;
    font-weight: bold;
}
.table-vertical>tbody>tr>td, .table-vertical>thead>tr>th {
    padding: 6px;
    border-top: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-vertical thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-vertical>thead>tr,  .table-vertical>tbody>tr{ border: 1px solid #ccc; }


    .table-vertical>thead>tr>td,  .table-vertical>tbody>tr>td{
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table-vertical>tbody>tr>td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .table-vertical>tbody>tr>td:before { content: attr(data-th); }
    #no-more-tables td:before { content: attr(data-title); }
}